
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    max-width: 1320px;
    margin: 0 auto;

}
header{
    margin-top: 50px;
    margin-bottom: 120px;
}
section{
    margin-bottom: 120px;
}
/* styles for head section */

.merriweather-title {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 72px;
  color:rgba(255, 255, 255, 1);
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.merriweather-sub-title {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight:;
  font-size: 32px;
  color:rgba(255, 255, 255, 1);
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 
.hero{
    background-image:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size:contain;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

/* offer section styles */
.offer{
    text-align: center;
}
.offer h1{
    margin-bottom: 48px;
}
.offer h3{
    margin-bottom: 48px;
}
.offer-title{
    font-size: 88px;
    color: rgba(255, 0, 0, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

.offer-description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   color: rgba(255, 0, 0, 1);
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 0;
}

.offer-category {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: rgba(7, 2, 17, 1);
  font-size: 48px;
}
/* styles for party banner */
.party-banner{
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0)), url(../images/Vectorrr.png);
    width: 100%;
    height: 600px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px 100px;
}


.merry-title {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
}
.p-text{
    width: 50%;
}
.p-text h1, p{
    margin-bottom:30px;
}
.party-btn{
    margin-left: 30px;
    background:none;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border: none;
}
.p-description{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

/* EVENT DETAILS SECTION STYLES */
.event-details{
    width: 100%;
    height: 482px;
    background: linear-gradient(to bottom right, rgba(255,0,0,0.15), rgba(255,0,0,0));
    border-radius: 16px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.place , .time , .date , .left-p , .number{
    color:rgba(255, 0, 0, 1);
}

.event-details {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-size: 32px;
  font-style: normal;

}
.event-details h4{
    margin-bottom: 20px;
}
.event-btn{
    color:rgba(255, 255, 255, 1);
    background-color:rgba(255, 0, 0, 1);
    font-size: 20px;
    font-weight:600;
    padding: 16px 32px;
    border-radius: 8px;
    border:none;
    margin-top: 48px;
}
/* styles for coming soon section */
.coming-soon{
    width:100%;
    /* background-color:aquamarine; */
    display:flex;
    align-items:center;
    justify-content: space-between;
    /* gap:100px; */
}
.left-content{
    width: 30%;
}
.left-p{
    font-size: 24px;
}
.soon{
    color:rgba(7, 2, 17, 1);
      font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 48px;
}

.coming-soon p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.number{
    font-size: 48px;
    font-weight:bold;
}
.right-content{
    width:30%;
    
}
.coming-soon h2{
    margin-bottom: 30px;
}
.middle-content img{
    border: 8px solid red;
    border-radius: 50%;
    padding: 16px;
}
/* styles for holidays section */
.holiday-sales{
    max-width: 1040px;
    margin: 0 auto; 
    text-align: center;
}
.holiday-sales > * {
    margin-bottom: 20px;
}
.fifty{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 72px;
}
.holy{
    color:rgba(255, 0, 0, 1);
}
.holiday-sales {
   
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}
.sub-holiday{
    font-size: 24px;
    color: rgba(7, 2, 17, 1);
    font-weight:700;    
}
.description-holidays{
    color:rgba(7, 2, 17, 0.6);
    font-size: 20px;
    margin-bottom: 50px;
}
/* box image styles section */
.box-image{
    background-image:url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position:bottom;
    display:flex;
    justify-content: space-between;
    /* align-items:center; */
    
}
.discount{
    margin-top: 80px;
}

/* styles for portfolio section */

.portfolio-grids{
    display:grid;
     grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.portfolio-title{
    color:rgba(255, 0, 0, 1);
    font-size:24px;
}
.portfolio-heading{
    color:rgba(7, 2, 17, 1);
    font-size: 48px;
    margin-bottom: 20px;
}
.portfolio-description{
    color:rgba(7, 2, 17, 0.6);
    font-size: 20px;
    
}
.portfolio-content{
    width:75%;
}
/* styles for newsletter */
.newsletter{
    background-color:rgba(255, 0, 0, 0.05);
    height: 600px;
    text-align: center;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}
.newsletter p{
    max-width: 800px;
}
.newsletter h3{
    margin: 30px 0 30px 0; 
}
.title-news{
    font-size: 48px;
    color:rgba(7, 2, 17, 1);
}
.description-news{
    color:rgba(7, 2, 17, 0.6);
    font-size: 20px;
}
.subscribe-form{
    display:flex;
    gap:0;
    padding:6px;
}
.subscribe-form input{
    color:rgba(255, 255, 255, 1);
    padding:15px;
    padding-left:30px;
    border:none;
    border-radius: 50px;
    font-size: 18px;
    width: 300px;
}
.news-btn{
    background-color:rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 15px;
    border: none;
    border-radius: 50px;
}
/* styles for footer */
footer{
    width: 100%;
    background-color:rgba(7, 2, 17, 1);
    padding: 100px;
    height: 600px;
}
footer p{
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
}
.footer-text-container{
    display:flex;
    justify-content: space-between;
}
.images{
    text-align:center;
    margin-top: 100px;
}
.footer-bottom{
    display:flex;
    justify-content: space-between;
}
.copy{
    text-align: left;
    /* margin-top:200px; */
}
.copy-right{
    text-align: right;
}

